.git
.next
.next-dev
node_modules
apps/web/.next
apps/web/.next-dev
apps/web/node_modules
apps/api/node_modules
apps/api/dist
apps/worker/node_modules
apps/worker/dist
packages/*/node_modules
packages/*/dist
npm-debug.log
yarn-error.log
pnpm-debug.log
.env
.env.local
.env.*.local
.DS_Store
